body{
  font-family:arial;
  background:#ffffff;
  color:white;
  text-align:center;
}
.outBox{
  width:640px;
  height:480px;
  margin:auto;
  border:2px solid #55aaff;
  border-radius:6px;
  overflow:hidden;
}
button{
  margin:5px;
  padding:8px 20px;
  font-size:16px;
  cursor:pointer;
}

